<h1><%= @pokemon.name %><br></h1>
<%= @pokemon.level %><br>
<%= @pokemon.skill %><br>
<%= @pokemon.ability %><br>
<%= image_tag @pokemon.image_url %><br>
<%= button_to 'Delete', pokemon_path(@pokemon), method: :delete %>